<ion-view title="Know Your Brew">
  <ion-content>
    <div class="list">
      <a class="item item-icon-left" href="#/categories">
        <span class="icon ion-ios7-briefcase-outline"></span> BJCP Style Guidelines
      </a>
      <a class="item item-icon-left" href="#/colors">
        <span class="icon ion-funnel"></span> Color Chart
      </a>
      <a class="item item-icon-left" href="#/off-flavors">
        <span class="icon ion-sad"></span> Off Flavors
      </a>
    </div>
    <p class="padding">
      BJCP Guidelines used with permission. App by <a href="http://gnomeontherun.com">Gnome on the run</a>. Suggestions or ideas? Submit them <a href="https://github.com/gnomeontherun/know-your-brew-app/issues">here</a>.
    </p>
  </ion-content>
</ion-view>
